.bg-navbar {
    background: #FFFF00;
}

.sidebar-light .sidebar-brand {
    background: #FFA500;
}

.fas {
    color: #0f0f0f;
}

.fa {
    color: #0f0f0f;
}

.copyright span {
    color: #0f0f0f;
}

.text-user {
    color: #0f0f0f !important;
}