.bg-navbar {
    background: #FFC0CB;
}

.sidebar-light .sidebar-brand {
    background: #FF0000;
}

.fas {
    color: #0f0f0f;
}

.fa {
    color: #0f0f0f;
}

.copyright span {
    color: #0f0f0f;
}

.text-user {
    color: #0f0f0f !important;
}