* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Muli-Regular";
    font-size: 14px;
    margin: 0;
    /* color: #999; */
}

input,
textarea,
select,
button {
    font-family: "Muli-Regular";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

:focus {
    outline: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #accffe; */
}

.inner {
    position: relative;
    width: 435px;
}

.image-1 {
    position: absolute;
    bottom: -15px;
    left: -191px;
    z-index: 99;
    width: 60%;
}

.image-2 {
    position: absolute;
    bottom: 0;
    right: -129px;
}

form {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 77px 61px 66px;
    /* background: #fff; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
}

h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Muli-SemiBold";
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 33px;
}

.form-holder {
    position: relative;
    margin-bottom: 21px;
}

.form-holder span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: #333;
}

.form-holder span.lnr-lock {
    left: 2px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    width: 100%;
    height: 38px;
    /* background: none; */
    padding: 3px 42px 0px;
    color: #666;
    font-family: "Muli-SemiBold";
    font-size: 16px;
}

.form-control::-webkit-input-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
}

.form-control::-moz-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
}

.form-control:-ms-input-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
}

.form-control:-moz-placeholder {
    font-size: 14px;
    font-family: "Muli-Regular";
    color: #999;
    transform: translateY(1px);
}

.form-control:focus {
    border-bottom: 1px solid #accffe;
}

.button {
    border: none;
    width: 100%;
    height: 49px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #99ccff;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.button span {
    position: relative;
    z-index: 2;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(52, 152, 253, 0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:hover:before,
.button:hover:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.button-kembali {
    border: none;
    width: 100%;
    height: 49px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #99ccff;
    color: #fff;
    text-transform: uppercase;
    font-family: "Muli-SemiBold";
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.button-kembali span {
    position: relative;
    z-index: 2;
}

.button-kembali:before,
.button-kembali:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(52, 152, 253, 0.25);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button-kembali:after {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button-kembali:hover:before,
.button-kembali:hover:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent -20%, #99ccff);
    position: absolute
}

.bayangan {
    border-radius: 50%;
    background: linear-gradient(45deg, transparent -70%, #99ccff);
    position: absolute;
    width: 44%;
    height: 65px;
    bottom: -20px;
    left: -152px
}

.bola {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent -70%, #99ccff);
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
}

.bola::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    top: 7px;
    left: 10px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent -20%, #ffffff79);
}

.bola::after {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    top: 7px;
    left: 10px;
    border-radius: 50%;
    background-image: url('../default/image-5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* @keyframes bounce {

    0%,
    100% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(180deg);
    }
} */

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px
}

.circle.one::before {
    content: '';
    position: absolute;
    width: 110px;
    height: 110px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../logo/logo-provinsi-sulawesi-barat.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.circle.two::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../logo/smkn_labuang.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.circle.three {
    width: 130px;
    height: 130px;
    bottom: -20px;
    left: -20px
}

/* ========================================= */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-dark {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: dark) {
    .text-shadow {
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    }

    .text-shadow-dark {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 991px) {
    .inner {
        width: 400px;
        left: 4%;
    }
}

@media (max-width: 767px) {
    .inner {
        width: 80%;
        left: 0;
    }

    .bola::after {
        content: '';
        position: absolute;
        width: 75px;
        height: 75px;
        top: 7px;
        left: 10px;
        border-radius: 50%;
        background-image: url('../default/image-4.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center 0px;
    }

    .image-1,
    .image-2 {
        display: none;
    }

    .bayangan {
        display: none;
    }

    form {
        width: 100%;
        position: relative;
        z-index: 9;
        padding: 77px 20px 66px;
        /* padding: 44px 31px 33px; */
        /* background: #fff; */
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
        -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
        -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.424);
    }

    .wrapper {
        background: none;
    }
}

/*# sourceMappingURL=style.css.map */